body{
 margin: 0;
 padding: 0;
 background-image: url(images/tb3032.png);
}

section {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: monospace;
    font-size: 38px;
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 42px;
    color: #222222;
    font-family: sans-serif;
}

#blend-pic {
    display: inline ;
    margin: 0 auto;
    cursor: pointer;
    z-index: -50;
    width:100%;

}
#b-pic{
  z-index: -1;
  display: inline;
  position: absolute;
}
#a-pic{
  z-index: -1;
  display: inline;
  position: relative;
  width: 100%;
}
